header {
background-color: #1F2937;
display: flex;
}




.link, .description{
font-size: 18px;
color: #E5E7EB;

}
.left{
    font-size: 24px;
    color: #F9FAF8;
    padding-left:  20px;
    display: flex;
    
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    color: #EEEEEE;
}
.right{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}