*{
    box-sizing: border-box;
    margin: 0;
    
}



body{
   margin: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
    width: 100%;
    height: 75px;
}

.left{
    color: #F9faf8;
    font-size: 24px;
    margin-left: 25px;
}
.right{
    margin-right: 40px;
}

ul{
    display: flex;
    gap: 30px;
    font-size: 18px;
    list-style-type: none; 
}
a{
    text-decoration: none;
    color: #e5e7eb;
}
a:hover {
    color: black;
}
footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #1f2937;
    height: 50px;
    color: #F9faf8;  
}

.footer{
   padding: 15px; 
   
}
button{
    background-color: #3882f6;
    border: none;
    flex: 0;
    border-radius: 12px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    padding: 5px;
}
.button-one{
    background-color: #3882f6;
    border: none;
    flex: 0;
    width: 50px;
    border-radius: 12px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    padding: 5px;
}


.main{
    width: 100%;
    background-color: #1f2937;
    display: flex;
    height: 500px;
    align-items: center;
    
    
}

.info-text{
    
    text-align: left;
    width: 500px;
    margin-top: 50px;
    margin: 75px;
    height: 300px;
    display: flex;
    flex-direction:column;
    margin-left: 100px;
    
    
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9faf8; 
    margin-bottom: 3px;
}

.description{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;

    
}
.group{
    border: 5px dotted gray;
    width: 500px;
    background-color: gray;
    height: 300px;
    margin-left: 500px;
}


.gems{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    text-align: center;
}
.image-container{
    border: 5px solid purple;
    width: 300px;
    height: 250px;
}

.gem-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
h2{
    margin-bottom: 10px;
}

.quote{
    width: 100%;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    align-items: center;
}

.quote-text{
    font-size: 36px;
    font-style:  oblique;
}
.quoter{
margin-top: 50px;
font-size: 20px;
}

.redirect{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.redirect-text{
    display: flex;
    padding: 40px 50px;
    flex-direction: row;
    color: white;
    gap: 15px;
}
.redirect-title{
    font-size: 30px;
    font-weight: bolder;
    border: 4px;
}

.action{
    background-color: #3882f6;
    display: flex;
    width: 700px;
    border-radius: 12px;
    gap: 5px;
}
.button-two{
    border: 1px solid white;
   
}





